:root { 
    font-size: 16px;
    font-family: system-ui;
    --bg-col-main1: rgb(255, 242, 235);
    --bg-col-main2: rgb(255, 238, 225);
    --txt-col-main1: black;
    --txt-col-main2: white;
}
* { 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    list-style: none; 
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 200px 3fr;
}

aside {
    background-color: var(--bg-col-main2);
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 50px;
    padding: 10px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
}

#menu button {
    border: none;
    background-color: transparent;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
}

#menu button:hover {
    border-left: 6px ridge rgb(0, 0, 0, 0.2);
}

#projects {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.projectCard {
    border: none;
    background-color: transparent;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.projectCard:hover {
    border-left: 6px ridge rgb(0, 0, 0, 0.2);
}

.projectDelBtn {
    font-size: 0.8rem;
}

main {
    background-color: var(--bg-col-main1);
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    position: relative;
}

main #add-tasks-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3rem;
    background-color: transparent;
    transition: ease-in-out 500ms;
    border: none;
}

main #add-tasks-btn:hover {
    transform: rotate(180deg); 
    color: green;
}

#task-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.task {
    display: grid;
    padding: 10px;
    background-color: var(--bg-col-main1);
    color: var(--txt-col-main1);
    grid-template: 30px max-content / 30px 3fr max-content;
    border-radius: 15px;
    border-top: 2px ridge rgb(0, 0, 0, 0.2);
    border-bottom: 2px ridge rgb(0, 0, 0, 0.2);
    transition: ease-in-out 400ms;
}

.taskCardDiv1, .taskCardDiv2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100px;
}

.taskCardDiv1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.taskCardDiv2 {
    display: flex;
    flex-direction: row;
    grid-column: 3/4;
    grid-row: 1/2;  
}

.taskCardDiv3 {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: left;
}

.task input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    height: max-content;
    width: max-content;
    background: rgb(0, 0, 0, 0.8);
    color: var(--txt-col-main2);
    transform:translate(-50%,-50%);
    border-radius: 30px;
    padding: 15px;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

form { text-align: left; }

form li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 15px;
}

form input, select, textarea {
    font-size: 1rem;
    padding: 3px;
    border-radius: 10px;
}

form button { 
    width: 150px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1rem;
}

form button:hover {
    cursor: pointer;
}

.modalBtnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.input-project-div { display: flex; }
.input-project-div input { width: 100%; font-size: 1rem; padding: 3px 8px; border-radius: 10px; }
.input-project-div button { font-size: 1rem; border: none; background: none; margin: 5px 5px;}
.input-project-div button:hover { color: green; cursor: pointer;}

